.catalog__container {
    margin: 0 auto;
    max-width: 1236px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 196px);
    justify-content: center;
    padding: 0 20px;
    gap: 4px;
}

.catalog__item {
    font-weight: 600;
    margin-bottom: 50px;
    gap: 8px;
    background: #FFFFFF;
    border-radius: 0px 0px 12px 12px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.catalog__btn-add {
    display: flex;
    justify-content: end;
    align-items: center;
    color: #fff;
    grid-column: -2/-1;
}

@media (max-width: 1024px) {
    .catalog__container {
        padding: 0 14px;
    }
}

@media (max-width: 560px) {
    .catalog__container {
        grid-template-columns: repeat(auto-fill, 148px);
        padding: 0 11px;
        gap: 2px;
    }

    .catalog__btn-add {
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 14px;
        gap: 4px;
    }
}