.track {
    padding: 6px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.track_activ {
    border-color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.3s ease-in-out;
}

.track__img-wrap {
    border-radius: 12px 12px 0px 0px;
    overflow: hidden;
    line-height: 0;
    position: relative;
}

.track__img-wrap:after {
    content: '';
    position: absolute;
    display: block;
    background-color: rgba(255, 255, 255, 0.8);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateY(90deg);
    background-image: url('../img/play.svg');
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.track_activ:hover .track__img-wrap:after,
.track_activ:focus .track__img-wrap:after {
    transform: translate(-50%, -50%) rotateY(0);
    opacity: 1;
}

.track_activ:active .track__img-wrap:after {
    transform: translate(-50%, -50%) rotateY(0) scale(1.3);
    opacity: 1;
}

.track_activ .track__img-wrap:after {
    opacity: 1;
    transform: translate(-50%, -50%) rotateY(0);
    background-image: url('../img/pause.svg');
    transition-property: background-color;
}

.track_activ:hover .track__img-wrap:after {
    background-color: #fff;
}

.track_activ:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.track__info {
    border-radius: 0px 0px 12px 12px;
    background-color: #fff;
    padding: 14px 8px;
    flex-grow: 1;
    width: 100%;
}
